@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

@layer base {
  :root {
    /* ---------- Gray Scale ---------- */
    --st-gray-50: #ffffff;
    --st-gray-100: #fdfdfd;
    --st-gray-200: #f8f9fa;
    --st-gray-300: #e9ecef;
    --st-gray-400: #dee2e6;
    --st-gray-450: #ced4da;
    --st-gray-500: #adb5bd;
    --st-gray-600: #6c757d;
    --st-gray-700: #495057;
    --st-gray-800: #343a40;
    --st-gray-900: #1e1e1e;

    /* ---------- Brand (Primary) ---------- */
    --st-primary-50: #ffebe6;
    --st-primary-100: #ffcabd;
    --st-primary-200: #ff3400;
    --st-primary-300: #b73818;
    --st-primary-400: #8e2b12;

    /* ---------- System Colors ---------- */
    --st-red-50: #fff2f2;
    --st-red-100: #da1e28;

    --st-blue-50: #e6f3fd;
    --st-blue-100: #44affd;
  }
}

@theme {
  /* Gray */
  --color-gray-50: var(--st-gray-50);
  --color-gray-100: var(--st-gray-100);
  --color-gray-200: var(--st-gray-200);
  --color-gray-300: var(--st-gray-300);
  --color-gray-400: var(--st-gray-400);
  --color-gray-450: var(--st-gray-450);
  --color-gray-500: var(--st-gray-500);
  --color-gray-600: var(--st-gray-600);
  --color-gray-700: var(--st-gray-700);
  --color-gray-800: var(--st-gray-800);
  --color-gray-900: var(--st-gray-900);

  /* Brand */
  --color-primary-50: var(--st-primary-50);
  --color-primary-100: var(--st-primary-100);
  --color-primary-200: var(--st-primary-200);
  --color-primary-300: var(--st-primary-300);
  --color-primary-400: var(--st-primary-400);

  /* System */
  --color-red-50: var(--st-red-50);
  --color-red-100: var(--st-red-100);

  --color-blue-50: var(--st-blue-50);
  --color-blue-100: var(--st-blue-100);
}

@layer components {
  /* Display */
  .typo-display1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 88px; /* 110% */
    letter-spacing: -2px;
  }
  .typo-display2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1px;
  }

  /* Heading */
  .typo-heading1-bold {
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.5px;
  }

  .typo-heading1-regular {
    font-size: 2rem;
    font-weight: 400;
    line-height: 40px; /* 125% */
    letter-spacing: -0.5px;
  }

  .typo-heading2-bold {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.25px;
  }

  .typo-heading2-medium {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.25px;
  }

  .typo-heading2-regular {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.25px;
  }

  .typo-heading3-bold {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.25px;
  }

  .typo-heading3-medium {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.25px;
  }

  .typo-heading3-regular {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.25px;
  }

  /* Body */
  .typo-body1-bold {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }

  .typo-body1-medium {
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }

  .typo-body1-regular {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .typo-body2-bold {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
  }

  .typo-body2-medium {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .typo-body2-regular {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  /* Caption */
  .typo-caption-bold {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.25px;
  }

  .typo-caption-regular {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.25px;
  }
}

.radix-themes {
  font-family: var(--font-roboto);
}

html {
  font-family: var(--font-roboto);
}

body {
  background: var(--color-bg-lightest);
  color: var(--color-darkest);
}

/* 현재 다크모드 지원 안함 - 다크모드 지원 시 사용 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
